
/.idea
/Beatport_UI/obj
/Beatport_UI/bin
/Beatport_UI/wwwroot
/Beatport_UI/.env
.DS_Store
/Beatport_BLL/bin
/Beatport_BLL/obj
/Beatport_DAL/obj
/Beatport_DAL/bin
/Beatport_TEST/bin
/Beatport_TEST/obj
/publish
