<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Beatport</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/Beatport_UI.styles.css" asp-append-version="true"/>
</head>
<body class="bg-[#262626]">
<header>
    <nav class=" navbar navbar-expand-sm navbar-toggleable-sm text-white bg-[#1B1C1E] shadow-b-lg mb-3">
        <div class="container-fluid container mx-auto">
            <div class="flex flex-row gap-3 items-center">
                <a class="navbar-brand hover:text-white" asp-controller="Home" asp-action="Index">Beatport<sup class="text-[#01FF95]">+</sup></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="text-white" asp-controller="Home" asp-action="Index">Home</a>
                <a class="text-white" asp-controller="Song" asp-action="Index">Collection</a>
                <a class="text-white" asp-controller="Playlist" asp-action="Index">Your playlists</a>
            </div>
            <div class="flex flex-row items-center gap-10">
                <a asp-controller="Song" asp-action="Create"  class="btn btn-info bg-[#01FF95] border-none text-uppercase text-gray-800 font-bold">Upload Music</a>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<footer class="footer text-muted bg-[#1B1C1E]">
    <div class="container text-white">
        &copy; 2024 - Beatport 
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>