@model IEnumerable<SongViewModel>

@{
    ViewData["Title"] = "Home Page";
}


        @Html.DisplayNameFor(model => model.Title)
        @foreach (var item in Model)
        {
            <h1>@Html.DisplayFor(song => item.Title)</h1>
        }